# Kafka Konfigürasyonu
KAFKA_BROKERS=b-1.egundemdevkafkaclus.7gip9e.c6.kafka.eu-central-1.amazonaws.com:9096,b-2.egundemdevkafkaclus.7gip9e.c6.kafka.eu-central-1.amazonaws.com:9096,b-3.egundemdevkafkaclus.7gip9e.c6.kafka.eu-central-1.amazonaws.com:9096
KAFKA_CLIENT_ID=kafka-test-client

# Authentication (opsiyonel)
KAFKA_USERNAME=gundem-dev-kafka-user
KAFKA_PASSWORD=egundem-dev-Kafka123!
KAFKA_SSL=false

# Test Konfigürasyonu
MESSAGE_COUNT=5
CONSUMER_TIMEOUT=30000 
