# Kafka Konfigürasyonu - SASL/SCRAM için port 9094 kullan
KAFKA_BROKERS=b-1.egundemdevkafkaclus.7gip9e.c6.kafka.eu-central-1.amazonaws.com:9096,b-2.egundemdevkafkaclus.7gip9e.c6.kafka.eu-central-1.amazonaws.com:9096,b-3.egundemdevkafkaclus.7gip9e.c6.kafka.eu-central-1.amazonaws.com:9096
KAFKA_CLIENT_ID=kafka-test-client

# Authentication (SASL/SCRAM)s
KAFKA_USERNAME=egundem-dev-kafka-user
KAFKA_PASSWORD=egundem-dev-Kafka123!
KAFKA_SSL=true

# Test Konfigürasyonu
MESSAGE_COUNT=5
CONSUMER_TIMEOUT=30000 
